* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image-slider {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.image img {
  width: 100%;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  border: none;
  color: #fff;
  z-index: 2;
  border-radius: 15px;
  background-color: rgba(7, 7, 7, 0.7);
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-next:hover,
.slick-prev:hover {
  color: #000;
  background-color: #ccc;
  transition: all 0.8s;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: flex !important;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eee;
  transition: all 0.8s;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}
.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin-left: 4px;
}
.banner-image {
  width: 100%;
}
.banner-image img {
  width: 100%;
  object-fit: cover;
}
.banner-title {
  display: flex;
  justify-content: space-between;
  background: #b7b7b7;
  align-items: center;
  position: absolute;
  bottom: -19px;
  width: 100%;
}
.container-banner {
  display: flex;
  margin-bottom: 50px;
}
.container-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-content {
  margin: 18px 0;
  font-size: 18px;
  text-align: center;
  color: #070707;
  text-transform: uppercase;
  align-self: center;
  line-height: 54px;
}
.container-carousel {
  /* margin-bottom: 14px; */
}
.carousels {
  margin-right: 4px;
  margin-top: 12px;
}

.content-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-title {
  font-size: 14px;
  line-height: 21px;
  color: #8a8a8f;
  height: 38px;
  font-weight: bold;
}
.header-title:hover {
  color: #000;
}
.price-tilte {
  color: #070707;
  line-height: 24px;
}
.slider img {
  max-width: 100%;
  overflow: clip;
}
.img-banner-2 {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.contai-carousel {
}
.caro {
  margin-right: 4px;
  margin-top: 12px;
}
.slid img {
  width: 426px;
  height: 255px;
  object-fit: cover;
}
